<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">     
    <div class="navbar-header"> 
      <a class="navbar-brand" href="/#/Board" ng-click="w=''">Virtual Is Viral</a>
    </div>
    <form class="navbar-form navbar-left" role="search">
      <input type="search" class="form-control" ng-model="w" placeholder="Search ..."/>
    </form>
     <ul class="nav navbar-nav navbar-right" ng-controller = 'userDataController'>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"  >{{user}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href ="/#/Board">Common Board</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
         </li>

         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="badge">{{unreadNotifications}} </span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="notification in notifications">
              <a href="/#/Details/{{notification.WorkId}}">{{notification.Notification}}</a>
            </li>
          </ul>
        </li>
      </ul>
  </div>      
</nav>
